*{
float:left;
}

   





p{
    border: 5px solid #f7f7f7;
    padding: 0;
    background: rgb(45, 204, 45);
    width: 180px;
    text-align: left;
    margin-left: 2px;
    height: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    -moz-border-radius: 10px;
    color: rgb(71, 67, 67);
    -webkit-border-radius: 10px;}
    
}